<%- include("_sidebar") -%>

<div id="content">
  <!-- <%- include("_navbar") -%> -->
  <script src="/send_url.js"></script>
  <ul class="breadcrumb">
    <li><a href="/admin/cars">Car</a></li>
    <li><a href="/admin/cars">List Car</a></li>
    <li>Add New Car</li>
  </ul>
  <!-- title -->
  <h2 class="mb-3">Add New Car</h2>
  <!-- content -->
  <form action="/admin/add" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label>Nama</label>
      <input type="text" class="form-control" placeholder="Car" name="nama" />
    </div>
    <div class="form-group">
      <label>Sewa Per Hari</label>
      <input type="number" class="form-control" placeholder="0" name="sewa" />
    </div>
    <div class="form-group">
      <label>Ukuran</label>
      <select
        class="form-control"
        aria-label="Default select example"
        name="ukuran"
      >
        <option value="Kecil" selected>Kecil</option>
        <option value="Sedang">Sedang</option>
        <option value="Besar">Besar</option>
      </select>
    </div>
    <p style="color: black" class="mb-1">Foto</p>
    <div class="custom-file">
      <label class="custom-file-label" for="customFile">Choose file</label>
      <input
        type="file"
        class="custom-file-input"
        id="customFile"
        name="image"
      />
    </div>
    <br /><br /><br />

    <button type="submit" class="btn btn-primary mt-2" value="add">
      Submit
    </button>
  </form>
</div>

<%- include("_footer") -%>
