<%- include("_sidebar") -%>

<script src="/send_url.js"></script>
<div id="content">
  <!-- <%- include("_navbar") -%> -->
  <div class="table-responsive">
    <div class="table-wrapper">
      <ul class="breadcrumb">
        <li><a href="/admin/cars">Cars</a></li>
        <li>List Car</li>
      </ul>
      <div class="container mb-4">
        <div class="row">
          <div class="col-9">
            <h3><strong>List Car</strong></h3>
          </div>
          <div class="col">
            <a href="/admin/add" class="btn btn-primary">
              <span
                ><i class="fas fa-plus" style="font-size: 24px"></i> Add New
                Car</span
              >
            </a>
          </div>
        </div>
      </div>
      <div class="btn-filter mb-4">
        <!-- <form class="form-inline" action="/admin/cars/filter">
          <input type="hidden" value="<%= nm %>" name="nama" />
          <button
            type="submit"
            class="btn btn-outline-primary"
            name="ukuran"
            value=""
          >
            All
          </button>
          <button
            type="submit"
            class="btn btn-outline-primary"
            name="ukuran"
            value="Kecil"
          >
            Kecil
          </button>
          <button
            type="submit"
            class="btn btn-outline-primary"
            name="ukuran"
            value="Sedang"
          >
            Sedang
          </button>
          <button
            type="submit"
            class="btn btn-outline-primary"
            name="ukuran"
            value="Besar"
          >
            Besar
          </button>
        </form> -->

        <!-- list cars -->
        <div class="row">
          <% items.forEach((item)=> {%>
          <div class="col-4">
            <div class="card-mobil card">
              <img
                src="<%= item.foto %>"
                class="card-img-top"
                alt="mobil-01"
                width="270"
                height="160"
              />
              <div class="card-body">
                <h5
                  class="card-title"
                  style="height: 35px; overflow-y: hidden; font-size: 14px"
                >
                  <%= item.nama %>/ <%= item.ukuran %>
                </h5>
                <h4 style="font-size: 16px">
                  <strong> Rp <%= item.sewa %> / hari</strong>
                </h4>
                <!-- <p style="height: 28px; overflow-y: hidden; font-size: 14px">
                  <i style="font-size: 24px" class="fas">&#xf017;</i> Updated At
                  <%= item.updatedAt %>
                </p> -->
                <div class="row mx-auto">
                  <div class="col-6">
                    <form
                      action="/admin/delete/<%= item.id %>"
                      method="post"
                      class="btn-delete"
                    >
                      <button
                        type="submit"
                        class="btn btn-outline-danger btn-lg"
                      >
                        <i style="font-size: 24px" class="fas">&#xf1f8;</i>
                        Delete
                      </button>
                    </form>
                  </div>
                  <div class="col-auto">
                    <button
                      type="button"
                      class="btn-mobil btn btn-success btn-lg"
                    >
                      <a href="/admin/edit/<%= item.id %>"
                        ><i style="font-size: 24px" class="fas">&#xf044;</i>
                        Edit</a
                      >
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>

  <%- include("_footer") -%>
</div>
