<%- include("_sidebar") -%>

<div id="content">
  <!-- <%- include("_navbar") -%> -->
  <ul class="breadcrumb">
    <li><a href="/admin/car">Car</a></li>
    <li><a href="/admin/car">List Car</a></li>
    <li>Update Car Information</li>
  </ul>
  <!-- title -->
  <h2 class="mb-3">Update Car Information</h2>
  <!-- content -->
  <form action="/admin/edit/<%= item.id %>" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Nama Mobil</label>
      <input
        type="text"
        class="form-control"
        name="nama"
        value="<%= item.nama %>"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Sewa</label>
      <input
        type="number"
        class="form-control"
        name="sewa"
        value="<%= item.sewa %>"
      />
    </div>
    <div class="form-group">
      <label>Ukuran</label>
      <select
        class="form-control"
        aria-label="Default select example"
        name="ukuran"
      >
        <option value="Kecil" selected>Kecil</option>
        <option value="Sedang">Sedang</option>
        <option value="Besar">Besar</option>
      </select>
    </div>
    <p style="color: black" class="mb-1">Foto</p>
    <div class="custom-file">
      <label class="custom-file-label" for="customFile">Choose file</label>
      <input type="file" class="custom-file-input" id="customFile" />
    </div>
    <br /><br /><br />

    <button
      type="cancel"
      class="btn btn-outline-primary mt-2"
      href="/admin/car"
    >
      Cancel
    </button>
    <button type="submit" class="btn btn-primary mt-2" value="add">Save</button>
  </form>
</div>

<%- include("_footer") -%>
